h1 {
  font-size: 28px;
  text-align: center;
  color: black;
  padding: 35px;
  font-family: verdana;
}

header {
  background-color: #d21034;
}


body {
  font-family: 'Georgia,"Times New Roman",Times,serif';
  margin: 0;
  padding: 0;
  background-color: #efeee7;
  color: #333333;
}

.name {
  font-weight: bold;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.bio-description {
  font-family: 'Courier New', Courier, monospace;
}

.contact-heading {
  padding-left: 20px;
}

#bio-image {
  float: left;
  width: 200px;
  height: 200px;
  margin-right: 20px;
}

#contact-info {
  width: 30%;
  font-size: 18px;
  float: right;
}

#main-bio {
  width: 70%;
  float: left;
}

h2 {
  font-size: 24px;
  font-family: verdana;
}

img {
  margin-left: auto;
  margin-right: auto;
}

p {
  font-size: 18px;
font-weight: normal;
color: black;
}

ul {
  padding: 20px;
  margin: 20px;
  font-family: 'Courier New', Courier, monospace;
}

a {
  color: #d21034;
}
